header {
    margin-bottom: 100px;
}
.navbar {
    margin-bottom: 50px;
    background: #fff;
}

.carousel-item {
    background: #FEEAE9;
    padding: 60px;
}
.carousel-item h2 {
    margin-bottom: 20px;
}
.category {
    margin-bottom: 100px;
}
.category img {
    max-width: 100px;
}
.shoes, .backpack {
    margin-bottom: 100px;
}
.shoes-card {
    border: 0;
    padding: 30px;
}
.shoes-footer {
    background: #fff;
    border-top: 0;
}
.subscribe {
    background: #FEEAE9;
    padding: 100px;
}
.subscribe h6 {
    margin-bottom: 20px;
}
.subscribe button {
    border: 0;
    padding: 3px 12px;
}
.subscribe input {
    border: 1px solid #e2c9c9;
    padding: 4px 10px;
}
